
.mfv-45 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-45 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-45 { background-image: none; }
.mfv-45 .m-layer1 { background-image: none; }

.mfv-45.hovered { background-image: none; }
.mfv-45.hovered .m-layer1 { background-image: none; }

.mfv-45.selected { background-image: none; }
.mfv-45.selected .m-layer1 { background-image: none; }

.mfv-45.selected.hovered { background-image: none; }
.mfv-45.selected.hovered .m-layer1 { background-image: none; }
.mfv-45-state,
.mfv-45-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-45-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-45-state { background-image: none; }
.mfv-45-state .m-layer1 { background-image: none; }

.mfv-46 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-46 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-46 { background-image: none; }
.mfv-46 .m-layer1 { background-image: none; }

.mfv-46.hovered { background-image: none; }
.mfv-46.hovered .m-layer1 { background-image: none; }

.mfv-46.selected { background-image: none; }
.mfv-46.selected .m-layer1 { background-image: none; }

.mfv-46.selected.hovered { background-image: none; }
.mfv-46.selected.hovered .m-layer1 { background-image: none; }
.mfv-46-state,
.mfv-46-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-46-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-46-state { background-image: none; }
.mfv-46-state .m-layer1 { background-image: none; }

.mfv-47 .m-layer1 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.mfv-47 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.mfv-47 { background-image: none; }
.mfv-47 .m-layer1 { background-image: none; }

.mfv-47.hovered { background-image: none; }
.mfv-47.hovered .m-layer1 { background-image: none; }

.mfv-47.selected { background-image: none; }
.mfv-47.selected .m-layer1 { background-image: none; }

.mfv-47.selected.hovered { background-image: none; }
.mfv-47.selected.hovered .m-layer1 { background-image: none; }
.mfv-47-state,
.mfv-47-state .m-layer1 {
    width: 10px;
    height: 10px;
}
.mfv-47-state {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mfv-47-state { background-image: none; }
.mfv-47-state .m-layer1 { background-image: none; }

