#row_aw_layerednavigation_advanced_flushbutton td.scope-label {
    display : none;
}

div.aw_layerednavigation_message {
    width       : 280px;
    margin-top  : 10px;
    text-align  : center;
    font-weight : bold;
}

div.aw_layerednavigation_message.success {
    color : #468847;
}

div.aw_layerednavigation_message.error {
    color : #b94a48;
}