<?xml version="1.0"?>
<config>
    <modules>
        <USAPoolDirect_Paybyphone>
            <version>0.1.0</version>
        </USAPoolDirect_Paybyphone>
    </modules>
    <frontend>
        <routers>
            <paybyphone>
                <use>standard</use>
                <args>
                    <module>USAPoolDirect_Paybyphone</module>
                    <frontName>paybyphone</frontName>
                </args>
            </paybyphone>
        </routers>
        <layout>
            <updates>
                <paybyphone>
                    <file>paybyphone.xml</file>
                </paybyphone>
            </updates>
        </layout>
    </frontend> 
    <global>
        <models>
            <paybyphone>
                <class>USAPoolDirect_Paybyphone_Model</class>
                <resourceModel>paybyphone_mysql4</resourceModel>
            </paybyphone>
            <paybyphone_mysql4>
                <class>USAPoolDirect_Paybyphone_Model_Mysql4</class>
                <entities>
                    <paybyphone>
                        <table>paybyphone</table>
                    </paybyphone>
                </entities>
            </paybyphone_mysql4>
        </models>
        <resources>
            <paybyphone_setup>
                <setup>
                    <module>USAPoolDirect_Paybyphone</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybyphone_setup>
            <paybyphone_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paybyphone_write>
            <paybyphone_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paybyphone_read>
        </resources>
        <blocks>
            <paybyphone>
                <class>USAPoolDirect_Paybyphone_Block</class>
            </paybyphone>
        </blocks>
        <helpers>
            <paybyphone>
                <class>USAPoolDirect_Paybyphone_Helper</class>
            </paybyphone>
        </helpers>
    </global>
    <default>
        <payment>
            <paybyphone>
                <active>1</active>
                <model>paybyphone/paybyphone</model>
                <order_status>pending</order_status>
                <title>Pay By Phone</title>
            </paybyphone>
         </payment>
    </default>
</config>