<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_ThemeOptionsUnique>
			<version>0.1.0</version>
			<depends>
			<!-- no dependencies -->
			</depends>
		</Meigee_ThemeOptionsUnique>
	</modules> 
	<admin>
		<routers>
			<adminhtml2>
				<use>admin</use>
				<args>
					<module>Meigee_ThemeOptionsUnique</module>
					<frontName>themeoptionsunique</frontName>
				</args>
			</adminhtml2>
		</routers>
	</admin>
	<frontend>
		<routers>
		   <meigeefrontend>
			  <use>standard</use>
			  <args>
				 <module>Meigee_ThemeOptionsUnique</module>
				 <frontName>meigeeactions</frontName>
			  </args>
		   </meigeefrontend>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<meigeesettings>
					<file>meigeesettings.xml</file>
				</meigeesettings>
			</updates>
		</layout>
		<menu>
			<meigee translate="title" module="ThemeOptionsUnique">
				<title>Meigee</title>
				<sort_order>9999</sort_order>
				<children>
					<theme_options translate="title" module="ThemeOptionsUnique">
						<title>Theme Options v1.0</title>
						<sort_order>1</sort_order>
						<children>
							<general_options translate="title" module="ThemeOptionsUnique">
								<title>General Options</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_general</action>
							</general_options>
							<design_options translate="title" module="ThemeOptionsUnique">
								<title>Design Options</title>
								<sort_order>2</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_design</action>
							</design_options>
							<productpage_options translate="title" module="ThemeOptionsUnique">
								<title>Product Page Options</title>
								<sort_order>3</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_productpage</action>
							</productpage_options>
							<sidebar_options translate="title" module="ThemeOptionsUnique">
								<title>Sidebar Options</title>
								<sort_order>4</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_sidebar</action>
							</sidebar_options>
							<headerslider_options translate="title" module="ThemeOptionsUnique">
								<title>Header Slider</title>
								<sort_order>5</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_headerslider</action>
							</headerslider_options>
							<bgslider_options translate="title" module="ThemeOptionsUnique">
								<title>Background Slider</title>
								<sort_order>6</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_unique_bgslider</action>
							</bgslider_options>
						</children>
					</theme_options>
					<restore_theme translate="title" module="ThemeOptionsUnique">
						<title>Restore Defaults</title>
						<sort_order>1</sort_order>
						<action>themeoptionsunique/restore/index</action>
					</restore_theme>
					<activate_theme translate="title" module="ThemeOptionsUnique">
						<title>Activate Theme</title>
						<sort_order>1</sort_order>
						<action>themeoptionsunique/activation/index</action>
					</activate_theme>
				</children>
			</meigee>
		</menu>
		<events>
		    <controller_action_predispatch>
                <observers>
                    <themeoptionsunique_notification>
                        <type>singleton</type>
                        <class>Meigee_ThemeOptionsUnique_Model_Feed</class>
                        <method>observe</method>
                    </themeoptionsunique_notification>
                </observers>
            </controller_action_predispatch>
		</events>
	</adminhtml>
	<global>
		<models>
			<ThemeOptionsUnique><class>Meigee_ThemeOptionsUnique_Model</class></ThemeOptionsUnique>
		</models>
		<resources>
		    <themeoptionsunique_setup>
		      <setup>
		        <module>Meigee_ThemeOptionsUnique</module>
		        <class>Meigee_ThemeOptionsUnique_Model_Resource_Eav_Mysql4_Setup</class>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </themeoptionsunique_setup>
		    <themeoptionsunique_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </themeoptionsunique_write>
		    <themeoptionsunique_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </themeoptionsunique_read>
		</resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<Meigee_ThemeOptionsUnique_observer>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsUnique_Controller_Observer</class>
						<method>overrideTheme</method>
					</Meigee_ThemeOptionsUnique_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<themeoptionsunique_awesome>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsUnique_Model_Observer</class>
						<method>cssgenerate</method>
					</themeoptionsunique_awesome>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
		</events>
		<helpers>
			<ThemeOptionsUnique><class>Meigee_ThemeOptionsUnique_Helper</class></ThemeOptionsUnique>
		</helpers>
		<extraconfig />
		<blocks>
			<meigee_themeoptionsunique><class>Meigee_ThemeOptionsUnique_Block</class></meigee_themeoptionsunique>
			<themeoptionsunique><class>Meigee_ThemeOptionsUnique_Block</class></themeoptionsunique>
			<meigee_unique_general><class>Meigee_ThemeOptionsUnique_Block</class></meigee_unique_general>
			<meigee_unique_productpage><class>Meigee_ThemeOptionsUnique_Block</class></meigee_unique_productpage>
			<meigee_unique_sidebar><class>Meigee_ThemeOptionsUnique_Block</class></meigee_unique_sidebar>
			<meigee_unique_headerslider><class>Meigee_ThemeOptionsUnique_Block</class></meigee_unique_headerslider>
			<meigee_unique_bgslider><class>Meigee_ThemeOptionsUnique_Block</class></meigee_unique_bgslider>
			<customcolorsblock>
				<class>Meigee_ThemeOptionsUnique_Block_EditCustomColors</class>
			</customcolorsblock>
		</blocks>
	</global>
	<!---->
	<default>
		<iwdall>
			<default>
				<jquery>0</jquery>
			</default>
		</iwdall>
		<onepagecheckout>
			<general>
				<enabled>1</enabled>
			</general>
		</onepagecheckout>
		<price_slider>
			<price_slider_conf>
				<timeout>100</timeout>
			</price_slider_conf>
			<price_slider_settings>
				<slider_loader_active>1</slider_loader_active>
				<include_jquery_ui>1</include_jquery_ui>
			</price_slider_settings>
			<ajax_conf>
				<layered>1</layered>
				<overlay_color>#000000</overlay_color>
				<overlay_opacity>0.3</overlay_opacity>
				<loading_text_color>#000000</loading_text_color>
			</ajax_conf>
		</price_slider>
		<design>
			<header translate="welcome" module="page">
				<welcome>Default welcome msg!</welcome>
			</header>
			<footer translate="copyright" module="page">
				<copyright>&amp;copy; 2012 Magento Demo Store. All Rights Reserved.</copyright>
			</footer>
		 </design>
		 <meigee_unique_general>
			<retina>
				<status>1</status>
			</retina>
			<header_and_menu>
				<floatingheader>1</floatingheader>
				<headertype>0</headertype>
				<display>1</display>
				<category_number>1</category_number>
				<menu_button_within_slider>0</menu_button_within_slider>
			</header_and_menu>
			<layout>
				<sitelayout>1</sitelayout>
				<responsiveness>1</responsiveness>
				<cartpage>cart_standard</cartpage>
			</layout>
			<footer>
				<footer_status>1</footer_status>
				<footer_static>unique_footer</footer_static>
			</footer>
			<mycart>
				<label>1</label>
				<count>1</count>
			</mycart>
			<customlogo>
				<logo_status>0</logo_status>
				<small_logo_status>0</small_logo_status>
			</customlogo>
			<productlisting>
				<sidebar>sidebar_left</sidebar>
				<grid>3</grid>
				<quickview>1</quickview>
				<productname>1</productname>
				<rating_stars>1</rating_stars>
				<rating_cust_link>1</rating_cust_link>
				<rating_add_review_link>1</rating_add_review_link>
				<productprice>1</productprice>
				<addtocart>1</addtocart>
				<compareproducts>1</compareproducts>
				<wishlist>1</wishlist>
			</productlisting>
			<productimages>
				<customAspectRatio>999</customAspectRatio>
			</productimages>
			<productlabels>
				<labelnew>1</labelnew>
				<labelonsale>1</labelonsale>
				<labelonlyxleft>0</labelonlyxleft>
				<salepercentage>1</salepercentage>
				<labelsorder>new_sale</labelsorder>
				<labelview>label-type-1</labelview>
			</productlabels>
			<otheroptions>
				<totop>1</totop>
				<notices>1</notices>
			</otheroptions>
			<loginajax>
				<status>1</status>
			</loginajax>
			<lang_switcher>
				<status>language_flags</status>
			</lang_switcher>
			<curr_switcher>
				<status>currency_images</status>
			</curr_switcher>
			<fancybox>
				<fancybox_status>0</fancybox_status>
				<fancybox_home>0</fancybox_home>
				<fancybox_listing>0</fancybox_listing>
				<fancybox_product>0</fancybox_product>
			</fancybox>
			<rollover>
				<rollover_status>1</rollover_status>
				<rollover_type>1</rollover_type>
			</rollover>
		</meigee_unique_general>
		<meigee_unique_design>
			<appearance>
				<font_main>0</font_main>
				<gfontmain>Roboto Slab</gfontmain>
				<main_default_sizes>1</main_default_sizes>
				<main_fontsize>12</main_fontsize>
				<main_lineheight>18</main_lineheight>
				<main_fontweight>100</main_fontweight>
				<font>1</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Roboto Slab</gfont>
				<lineheight>20</lineheight>
				<fontweight>100</fontweight>
				<patern>none</patern>
			</appearance>
			<icons>
				<account>fa-user</account>
				<search>fa-search</search>
				<headercart>fa-shopping-cart</headercart>
				<headerwish>fa-star-o</headerwish>
				<editproduct>fa-pencil</editproduct>
				<editaccount>fa-pencil</editaccount>
				<quickview>fa-search</quickview>
				<fancybox>fa-eye</fancybox>
				<compare>fa-bar-chart-o</compare>
				<wishlist>fa-star</wishlist>
				<emailfiend>fa-envelope-o</emailfiend>
				<descreaseqty>fa-minus-square-o</descreaseqty>
				<increaseqty>fa-plus-square-o</increaseqty>
				<login>fa-key</login>
				<mobilemenu>fa-th-list</mobilemenu>
			</icons>
			<base>
				<base_override>0</base_override>
				<sitebg>ffffff</sitebg>
				<maincolor>6dc5ee</maincolor>
				<secondcolor>e53b3f</secondcolor>
			</base>
			<catlabels>
				<label_one>eb4c4c</label_one>
				<label_one_color>fff</label_one_color>
				<label_one_h>9ede42</label_one_h>
				<label_one_color_h>fff</label_one_color_h>
				<label_two>4d8ab0</label_two>
				<label_two_color>fff</label_two_color>
				<label_two_h>4fa9e1</label_two_h>
				<label_two_color_h>fff</label_two_color_h>
				<label_three>FF712F</label_three>
				<label_three_color>fff</label_three_color>
				<label_three_h>FF712F</label_three_h>
				<label_three_color_h>fff</label_three_color_h>
			</catlabels>
			<header>
				<header_bg>ffffff</header_bg>
				<header_text>888888</header_text>
				<header_link>888888</header_link>
				<header_link_h>e53b3f</header_link_h>
				<header_borders>eeeeee</header_borders>
				<header_borders_width>1</header_borders_width>
				<header_divider_color>dddddd</header_divider_color>
				<header_sticky_bg>ffffff</header_sticky_bg>
				<search_bg>eeeeee</search_bg>
				<search_border_and_button>eeeeee</search_border_and_button>
				<search_border_width>1</search_border_width>
				<search_color>aaaaaa</search_color>
				<search_button_color>aaaaaa</search_button_color>
				<active_search_border>6dc5ee</active_search_border>
				<active_search_bg>ffffff</active_search_bg>
				<active_search_color>aaaaaa</active_search_color>
				<active_search_button_color>aaaaaa</active_search_button_color>
				<search_border_and_button_h>6dc5ee</search_border_and_button_h>
				<search_bg_h>ffffff</search_bg_h>
				<search_color_h>aaaaaa</search_color_h>
				<search_button_color_h>ffffff</search_button_color_h>
				<cart_bg>e53b3f</cart_bg>
				<cart_text>ffffff</cart_text>
				<cart_bg_h>222222</cart_bg_h>
				<cart_text_h>ffffff</cart_text_h>
				<cart_active_bg>e53b3f</cart_active_bg>
				<cart_active_text>ffffff</cart_active_text>
				<dropdown_bg>ffffff</dropdown_bg>
				<dropdown_shadow>000000</dropdown_shadow>
				<dropdown_product_title>222222</dropdown_product_title>
				<dropdown_product_title_h>e53b3f</dropdown_product_title_h>
				<dropdown_price_color>6dc5ee</dropdown_price_color>
				<dropdown_count_bg>dddddd</dropdown_count_bg>
				<dropdown_count_color>888888</dropdown_count_color>
				<dropdown_label_color>aaaaaa</dropdown_label_color>
				<dropdown_options_color>666666</dropdown_options_color>
				<dropdown_icons_color>dddddd</dropdown_icons_color>
				<dropdown_icons_color_h>e53b3f</dropdown_icons_color_h>
				<dropdown_total_label>222222</dropdown_total_label>
				<dropdown_total_price>6dc5ee</dropdown_total_price>
				<dropdown_border_color>dddddd</dropdown_border_color>
				<dropdown_border_width>1</dropdown_border_width>
				<dropdown_view_cart_link>aaaaaa</dropdown_view_cart_link>
				<dropdown_view_cart_link_h>e53b3f</dropdown_view_cart_link_h>
				<login_bg>6dc5ee</login_bg>
				<login_color>ffffff</login_color>
				<login_subtitle_color>222</login_subtitle_color>
				<login_bg_h>222222</login_bg_h>
				<login_color_h>ffffff</login_color_h>
				<login_form_bg>ffffff</login_form_bg>
				<login_system_text>e85131</login_system_text>
				<login_title_color>222222</login_title_color>
				<login_text_color>888888</login_text_color>
				<login_input_bg>eeeeee</login_input_bg>
				<login_input_color>aaaaaa</login_input_color>
				<login_register_switcher>888888</login_register_switcher>
				<login_register_switcher_h>e53b3f</login_register_switcher_h>
				<login_icon_color>bbbbbb</login_icon_color>
				<login_icon_color_h>e53b3f</login_icon_color_h>
				<login_label_color>666666</login_label_color>
				<wishlist_color>222222</wishlist_color>
				<wishlist_bg>ffffff</wishlist_bg>
				<wishlist_color_h>222222</wishlist_color_h>
				<wishlist_bg_h>eeeeee</wishlist_bg_h>
				<account_bg>6dc5ee</account_bg>
				<account_color>ffffff</account_color>
				<account_bg_h>222222</account_bg_h>
				<account_color_h>ffffff</account_color_h>
				<account_submenu_bg>ffffff</account_submenu_bg>
				<account_submenu_link_divider>eeeeee</account_submenu_link_divider>
				<account_submenu_link_divider_width>1</account_submenu_link_divider_width>
				<account_submenu_link>aaaaaa</account_submenu_link>
				<account_submenu_link_bg>ffffff</account_submenu_link_bg>
				<account_submenu_link_h>aaaaaa</account_submenu_link_h>
				<account_submenu_link_bg_h>fafafa</account_submenu_link_bg_h>
			</header>
			<headerslider>
				<buttons_bg>ffffff</buttons_bg>
				<buttons_color>888888</buttons_color>
				<buttons_bg_h>e53b3f</buttons_bg_h>
				<buttons_color_h>ffffff</buttons_color_h>
				<bullets_bg>ffffff</bullets_bg>
				<type1_subtitle>ffffff</type1_subtitle>
				<type1_title>ffffff</type1_title>
				<type1_title_span>6dc5ee</type1_title_span>
				<type1_text>cccccc</type1_text>
				<type2_subtitle>ffffff</type2_subtitle>
				<type2_title>222222</type2_title>
				<type2_title_span>222222</type2_title_span>
				<type2_text>888888</type2_text>
			</headerslider>
			<menu>
				<menu_bg>222222</menu_bg>
				<button_bg>393939</button_bg>
				<button_color>888888</button_color>
				<button_bg_h>616161</button_bg_h>
				<button_color_h>c0c0c0</button_color_h>
				<link_bg>222222</link_bg>
				<link_color>ffffff</link_color>
				<navigation_number_color>494949</navigation_number_color>
				<triangle_icon>aaaaaa</triangle_icon>
				<link_bg_h>2f2f2f</link_bg_h>
				<link_color_h>ffffff</link_color_h>
				<navigation_number_color_h>494949</navigation_number_color_h>
				<triangle_icon_h>aaaaaa</triangle_icon_h>
				<sticky_link_bg>ffffff</sticky_link_bg>
				<sticky_link_color>222222</sticky_link_color>
				<sticky_link_bg_h>2f2f2f</sticky_link_bg_h>
				<sticky_link_color_h>ffffff</sticky_link_color_h>
				<submenu_bg>ffffff</submenu_bg>
				<submenu_text>888888</submenu_text>
				<submenu_links>888888</submenu_links>
				<submenu_top_link_bg>eeeeee</submenu_top_link_bg>
				<submenu_top_link>222222</submenu_top_link>
				<submenu_top_link_bg_h>eeeeee</submenu_top_link_bg_h>
				<submenu_top_link_h>222222</submenu_top_link_h>
				<submenu_link_bg>ffffff</submenu_link_bg>
				<submenu_link>888888</submenu_link>
				<submenu_link_border>eeeeee</submenu_link_border>
				<submenu_link_border_width>1</submenu_link_border_width>
				<submenu_link_bg_h>ffffff</submenu_link_bg_h>
				<submenu_link_h>e53b3f</submenu_link_h>
				<submenu_link_border_h>eeeeee</submenu_link_border_h>
				<submenu_borders>dddddd</submenu_borders>
				<submenu_borders_width>1</submenu_borders_width>
				<submenu_icons_bg>ffffff</submenu_icons_bg>
				<submenu_icons_border>dddddd</submenu_icons_border>
				<submenu_icons_color>aaaaaa</submenu_icons_color>
				<submenu_icons_bg_h>ffffff</submenu_icons_bg_h>
				<submenu_icons_border_h>dddddd</submenu_icons_border_h>
				<submenu_icons_color_h>aaaaaa</submenu_icons_color_h>
			</menu>
			<content>
				<page_title_color>222222</page_title_color>
				<page_title_border>dddddd</page_title_border>
				<page_title_border_width>1</page_title_border_width>
				<toolbar_label>888888</toolbar_label>
				<toolbar_select_bg>eeeeee</toolbar_select_bg>
				<toolbar_select_text>aaaaaa</toolbar_select_text>
				<toolbar_dropdown_link_bg>eeeeee</toolbar_dropdown_link_bg>
				<toolbar_dropdown_link>888888</toolbar_dropdown_link>
				<toolbar_dropdown_link_bg_h>dddddd</toolbar_dropdown_link_bg_h>
				<toolbar_dropdown_link_h>888888</toolbar_dropdown_link_h>
				<pager_buttons_bg>eeeeee</pager_buttons_bg>
				<pager_buttons_color>888888</pager_buttons_color>
				<pager_buttons_bg_h>dddddd</pager_buttons_bg_h>
				<pager_buttons_color_h>888888</pager_buttons_color_h>
				<pager_active_button_bg>6dc5ee</pager_active_button_bg>
				<pager_active_button>ffffff</pager_active_button>
			</content>
			<buttons>
				<buttons_bg>dddddd</buttons_bg>
				<buttons_color>888888</buttons_color>
				<buttons_border_width>0</buttons_border_width>
				<buttons_border>dddddd</buttons_border>
				<buttons_bg_h>e53b3f</buttons_bg_h>
				<buttons_color_h>ffffff</buttons_color_h>
				<buttons_border_h>e53b3f</buttons_border_h>
				<buttons2_bg>e53b3f</buttons2_bg>
				<buttons2_color>ffffff</buttons2_color>
				<buttons2_border_width>0</buttons2_border_width>
				<buttons2_bg_h>6dc5ee</buttons2_bg_h>
				<buttons2_color_h>ffffff</buttons2_color_h>
				<buttons2_border>e53b3f</buttons2_border>
				<buttons2_border_h>6dc5ee</buttons2_border_h>
			</buttons>
			<products>
				<product_bg>ffffff</product_bg>
				<product_border>ffffff</product_border>
				<product_border_width>0</product_border_width>
				<product_title>222222</product_title>
				<product_title_h>e53b3f</product_title_h>
				<product_text>aaaaaa</product_text>
				<product_link_color>6dc5ee</product_link_color>
				<product_link_color_h>e53b3f</product_link_color_h>
				<product_price>6dc5ee</product_price>
				<product_old_price>aaaaaa</product_old_price>
				<product_special_price>6dc5ee</product_special_price>
				<label_new_bg>222222</label_new_bg>
				<label_new_color>ffffff</label_new_color>
				<label_sale_bg>e53b3f</label_sale_bg>
				<label_sale_color>ffffff</label_sale_color>
			</products>
			<social_links>
				<social_links_bg>222222</social_links_bg>
				<social_links_border>222222</social_links_border>
				<social_links_border_width>0</social_links_border_width>
				<social_links_color>cccccc</social_links_color>
				<social_links_divider>393939</social_links_divider>
				<social_links_divider_width>1</social_links_divider_width>
				<social_links_bg_h>4e4e4e</social_links_bg_h>
				<social_links_border_h>4e4e4e</social_links_border_h>
				<social_links_color_h>cccccc</social_links_color_h>
				<social_links_divider_h>393939</social_links_divider_h>
			</social_links>
			<footer>
				<top_block_bg>222222</top_block_bg>
				<top_block_text>aaaaaa</top_block_text>
				<top_block_link>6dc5ee</top_block_link>
				<top_block_link_h>e53b3f</top_block_link_h>
				<top_block_borders_width>1</top_block_borders_width>
				<top_block_borders>393939</top_block_borders>
				<top_block_title_bg>393939</top_block_title_bg>
				<top_block_title>ffffff</top_block_title>
				<top_block_button_border_width>2</top_block_button_border_width>
				<top_block_button_border>ffffff</top_block_button_border>
				<top_block_button_bg>222222</top_block_button_bg>
				<top_block_button>ffffff</top_block_button>
				<top_block_button_border_h>eeeeee</top_block_button_border_h>
				<top_block_button_bg_h>eeeeee</top_block_button_bg_h>
				<top_block_button_h>888888</top_block_button_h>
				<top_block_list_link_bg>222222</top_block_list_link_bg>
				<top_block_list_link>aaaaaa</top_block_list_link>
				<top_block_list_link_border>393939</top_block_list_link_border>
				<top_block_list_link_border_width>1</top_block_list_link_border_width>
				<top_block_list_link_bg_h>393939</top_block_list_link_bg_h>
				<top_block_list_link_h>aaaaaa</top_block_list_link_h>
				<top_block_list_link_border_h>393939</top_block_list_link_border_h>
				<top_block_icons_list_bg>222222</top_block_icons_list_bg>
				<top_block_icons_list_border>ffffff</top_block_icons_list_border>
				<top_block_icons_list>ffffff</top_block_icons_list>
				<top_block_icons_list_bg_h>393939</top_block_icons_list_bg_h>
				<top_block_icons_list_border_h>ffffff</top_block_icons_list_border_h>
				<top_block_icons_list_h>ffffff</top_block_icons_list_h>
				<top_block_icons_text>cccccc</top_block_icons_text>
				<bottom_block_bg>ffffff</bottom_block_bg>
				<bottom_block_text>888888</bottom_block_text>
				<bottom_block_link>888888</bottom_block_link>
				<bottom_block_borders>dddddd</bottom_block_borders>
				<bottom_block_borders_width>1</bottom_block_borders_width>
				<bottom_block_title_bg>eeeeee</bottom_block_title_bg>
				<bottom_block_title>222222</bottom_block_title>
				<bottom_block_list_link_bg>ffffff</bottom_block_list_link_bg>
				<bottom_block_list_link>aaaaaa</bottom_block_list_link>
				<bottom_block_list_link_border>dddddd</bottom_block_list_link_border>
				<bottom_block_list_link_border_width>1</bottom_block_list_link_border_width>
				<bottom_block_list_link_bg_h>f5f5f5</bottom_block_list_link_bg_h>
				<bottom_block_list_link_h>aaaaaa</bottom_block_list_link_h>
				<bottom_block_list_link_border_h>dddddd</bottom_block_list_link_border_h>
				<bottom_block_icons_list_bg>ffffff</bottom_block_icons_list_bg>
				<bottom_block_icons_list_border>dddddd</bottom_block_icons_list_border>
				<bottom_block_icons_list>aaaaaa</bottom_block_icons_list>
				<bottom_block_icons_list_bg_h>f5f5f5</bottom_block_icons_list_bg_h>
				<bottom_block_icons_list_border_h>dddddd</bottom_block_icons_list_border_h>
				<bottom_block_icons_list_h>aaaaaa</bottom_block_icons_list_h>
				<bottom_block_icons_text>aaaaaa</bottom_block_icons_text>
				<default_links_wrapper_bg>eeeeee</default_links_wrapper_bg>
				<default_links_wrapper_border>dddddd</default_links_wrapper_border>
				<default_links_wrapper_border_width>1</default_links_wrapper_border_width>
				<contact_bg>222222</contact_bg>
				<contact_border>444444</contact_border>
				<contact_text>aaaaaa</contact_text>
				<tags_bg>222222</tags_bg>
				<tags_border>393939</tags_border>
				<tags_text>aaaaaa</tags_text>
				<tags_bg_h>e53b3f</tags_bg_h>
				<tags_border_h>e53b3f</tags_border_h>
				<tags_text_h>ffffff</tags_text_h>
				<subscribe_text>aaaaaa</subscribe_text>
				<subscribe_bg>222222</subscribe_bg>
				<subscribe_border>444444</subscribe_border>
				<subscribe_input_text>aaaaaa</subscribe_input_text>
			</footer>
		</meigee_unique_design>
		<meigee_unique_productpage>
			<general>
				<collateral_related>related_slider</collateral_related>
				<relatedposition>bottom</relatedposition>
				<moreviews>moreviews_slider</moreviews>
				<prevnext>prevnext</prevnext>
				<product_sku>1</product_sku>
			</general>
			<layout>
				<collateral>collateral_tabs</collateral>
				<productsidebar>right</productsidebar>
				<pagelayout>productpage_medium</pagelayout>
				<collateral_position>underdetails</collateral_position>
			</layout>
			<brand>
				<productbrand>1</productbrand>
				<brandformat>.png</brandformat>
				<brandsearch>1</brandsearch>
				<brandtarget>1</brandtarget>
				<brandpos>sidebar</brandpos>
			</brand>
			<additional>
				<product_custom>unique_social_likes</product_custom>
			</additional>
		</meigee_unique_productpage>
		<meigee_unique_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>
			<sidebar_slider>
				<status>1</status>
				<productpage_slider>1</productpage_slider>
				<slides>unique_sidebar_slide_1, unique_sidebar_slide_2, unique_sidebar_slide_3, unique_sidebar_slide_4</slides>
				<autoSlide>1</autoSlide>
				<autoSlideTimer>5000</autoSlideTimer>
				<autoSlideTransTimer>750</autoSlideTransTimer>
				<desktopClickDrag>1</desktopClickDrag>
			</sidebar_slider>
		</meigee_unique_sidebar>
		<meigee_unique_headerslider>
			<coin>
				<enabled>1</enabled>
				<preloader>1</preloader>
				<onlyhome>1</onlyhome>
				<autoSlide>1</autoSlide>
				<slidertype>1</slidertype>
				<slides>unique_header2_wide_slide_1, unique_header2_wide_slide_2, unique_header2_wide_slide_3</slides>
				<boxedslides>unique_header1_boxed_slide_1, unique_header1_boxed_slide_2, unique_header1_boxed_slide_3</boxedslides>
				<boxed_slides_width_banners>unique_header1_boxed_slide_with_banners_1, unique_header1_boxed_slide_with_banners_2, unique_header1_boxed_slide_with_banners_3</boxed_slides_width_banners>
				<header2_boxedslides>unique_header2_boxed_slide_1, unique_header2_boxed_slide_2, unique_header2_boxed_slide_3</header2_boxedslides>
				<header2_boxed_slides_width_banners>unique_header2_boxed_slide_with_banners_1, unique_header2_boxed_slide_with_banners_2, unique_header2_boxed_slide_with_banners_3</header2_boxed_slides_width_banners>
				<sliderbanners>unique_header1_slider_banners</sliderbanners>
				<header2_sliderbanners>unique_header2_slider_banners</header2_sliderbanners>
				<autoSlideTimer>5000</autoSlideTimer>
				<autoSlideTransTimer>750</autoSlideTransTimer>
				<desktopClickDrag>1</desktopClickDrag>
				<infiniteSlider>0</infiniteSlider>
			</coin>
		</meigee_unique_headerslider>
		<meigee_unique_bgslider>
			<slideroptions>
				<enabled>1</enabled>
				<fade>750</fade>
				<duration>4000</duration>
			</slideroptions>
			<slides>
				<slide>default/unique.jpg</slide>
			</slides>
		</meigee_unique_bgslider>
		<ajax>
			<wishlistcompare>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</wishlistcompare>
			<general>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</general>
			<ajaxtoolbar>
				<enabled>1</enabled>
			</ajaxtoolbar>
		</ajax>
	</default>
</config>