<?xml version="1.0"?>
<config>
    <modules>
        <Destinationtype_Address>
            <version>0.1.0</version>
        </Destinationtype_Address>
    </modules>
    <frontend>
        <routers>
            <address>
                <use>standard</use>
                <args>
                    <module>Destinationtype_Address</module>
                    <frontName>address</frontName>
                </args>
            </address>
        </routers>
        <layout>
            <updates>
                <address>
                    <file>address.xml</file>
                </address>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <address>
                <class>Destinationtype_Address_Model</class>
                <resourceModel>address_mysql4</resourceModel>
            </address>
            <address_mysql4>
                <class>Destinationtype_Address_Model_Mysql4</class>
                <entities>
                    <address>
                        <table>address</table>
                    </address>
                </entities>
            </address_mysql4>
        </models>
        <resources>
            <address_setup>
                <setup>
                    <module>Destinationtype_Address</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </address_setup>
            <address_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </address_write>
            <address_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </address_read>
        </resources>
        <blocks>
            <address>
                <class>Destinationtype_Address_Block</class>
            </address>
        </blocks>
        <helpers>
            <address>
                <class>Destinationtype_Address_Helper</class>
            </address>
        </helpers>
     </global>
     <global>
        <fieldsets>
        	<sales_convert_quote_address>
        		<destination_type>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </destination_type>
        	</sales_convert_quote_address>
        	<customer_address>
        		<destination_type>
                    <to_quote_address>*</to_quote_address>
                </destination_type>
        	</customer_address>
        </fieldsets>
    </global>
</config>